html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  overflow: auto;
}

body {
  padding: 1rem;
  overflow: auto;
}

.ag-tool-panel-wrapper .ag-react-container {
  width: 100%;
}
.ag-row {
  &.ag-row-footer {
    background-color: #a1a1a1;
    color: #fff;
  }
  .ag-details-row {
    padding: 4px 0 4px 16px;
  }
}
.ag-cell.col-quantity {
  text-align: right;
  cursor: text;

  &.cell-disabled {
    pointer-events: none;
  }

  .ag-row.ag-row-leaf:not(.ag-row-footer) > &:hover:not(.ag-cell-inline-editing),
  &.ag-cell-focus:not(.ag-cell-inline-editing):not(.cell-disabled) {
    background-color: rgba(33, 150, 243, 0.13);
  }
}
.ag-header-cell.col-quantity {
  .ag-header-cell-label {
    justify-content: right;
  }
  .ag-cell-label-container {
    flex-direction: row;
  }
}

.ag-cell.ttl-cell {
  background-color: #efefef;

  .ag-row.ag-row-selected > & {
    background-color: #2196f338;
  }

  .ag-row.ag-row-hover > & {
    background-color: rgba(33, 150, 243, 0.13);
  }
}

.ag-row .ag-body-viewport .ag-cell-wrapper.ag-row-group {
  // resets the left indent of nested group levels
  padding-left: 0;
}
.ag-row .ag-body-viewport .ag-row-group-leaf-indent {
  // resets the left indent of the nested leaf level
  margin-left: 0;
}
.ag-row .ag-layout-auto-height {
  .ag-center-cols-container,
  .ag-center-cols-clipper {
    min-height: unset;
  }
}

.nest-mode-tool-panel {
  padding: 1rem;

  h3 {
    &:first-child {
      margin-top: 0;
    }
    margin-bottom: 0.5em;
  }
  h4 {
    margin-bottom: 0.5em;
    margin-top: 0.17em;
  }

  .settings-list,
  .mode-list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    input[type="checkbox"] {
      margin-left: 0;
    }

    li {
      display: flex;

      label {
        flex-grow: 1;
      }
    }
  }

  label.setting-label {
    cursor: pointer;

    .description {
      color: #888;
      margin-left: 1.3rem;
      font-size: 0.8em;
    }
  }

  .settings-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    li {
      flex-direction: column;

      section {
        margin: 0.25em 0 1em 1.3rem;
        padding: 0.5em;
        border: solid 1px #eee;
        border-radius: 0.5em;
        pointer-events: none;
        color: #a9a9a9;

        &:empty {
          display: none;
        }
      }

      &:has(> label.setting-label > input:checked) {
        section {
          border: solid 1px #bbb;
          color: #000;
          pointer-events: all;
        }
      }
    }
  }

  .dir-buttons {
    display: flex;
    flex-direction: column;

    button {
      border: 0;
      background: none;
      color: #666;
      padding: 0;
      font-size: 0.8em;

      &:hover {
        color: #000;
      }

      &[data-dir="up"] {
        margin-bottom: -0.175em;
      }
      &[data-dir="down"] {
        margin-top: -0.175em;
      }

      &:hover:not([disabled]) {
        cursor: pointer;
        color: #333;
      }

      &[disabled] {
        color: #bbb;
      }
    }
  }
}

.quantity-editor {
  display: flex;
  height: 100%;

  input {
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    margin: 0.5em;
    background-color: transparent;
  }
}

.debug-list {
  list-style-type: none;
  padding: 0;
  font-family: monospace;
  font-size: 0.9em;
  letter-spacing: -0.5px;
  user-select: text;
  overflow-x: clip;

  li {
    margin: 0;
    padding: 0;
    display: flex;
    &:hover {
      background-color: #eeeeee;
    }

    .label {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        overflow: visible;
      }
    }

    &.perf {
      color: #999;

      &.fast .value {
        background-color: #beff8b;
      }
      &.so-so .value {
        color: #000;
        background-color: #ffc875;
      }
      &.slow .value {
        color: #fff;
        background-color: #ff9684;
      }
      &.dead .value {
        color: #fff;
        background-color: #b00f0f;
      }
    }
  }
}
